@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Parisienne";
  src: url("/fonts/Parisienne/Parisienne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  @apply font-parisienne text-[160px];
}

h2 {
  @apply font-parisienne text-[100px];
}

h3 {
    @apply font-parisienne text-[70px];
}

#heroContainer {
  background-color: #fffdf7 ;
}

#weddingDetails {
    background-color: #fff896;
}

#fillerF {
  background-color: #fffdf7;
}

#program {
  background-color: #ffe0e3;
}