@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Parisienne";
  src: url("/fonts/Parisienne/Parisienne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("/fonts/Quicksand/Quicksand-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

h1,
h2,
h3,
h5 {
  @apply font-parisienne;
}

h1 {
}

h2 {
  @apply font-parisienne;
}

h3 {
  @apply font-parisienne;
}

li a {
  @apply font-quicksand text-xl;
}

li {
  @apply duration-500 hover:scale-110;
}

#heroContainer,
#fillerF,
#navbar,
#rsvp,
#bellPoster,
#cocktailLogo,
#regards {
  background-color: #fffdf7;
}

#weddingDetails {
  background-color: #fff896;
}

#program {
  background-color: #ffe0e3;
}

#attirePage {
  background-color: #cdddb3;
}

#faq {
  background-color: #cddfec;
}

#regards {
  background-color: ;
}

#colorPal1 {
  background-color: #ed15cf;
}
#colorPal2 {
  background-color: #eb7434;
}
#colorPal3 {
  background-color: #f8dadd;
}
#colorPal4 {
  background-color: #cddfec;
}
#colorPal5 {
  background-color: #dec25a;
}
#colorPal6 {
  background-color: #4f9592;
}

#colorPal1,
#colorPal2,
#colorPal3,
#colorPal4,
#colorPal5,
#colorPal6 {
  @apply duration-300 hover:scale-110 cursor-pointer;
}
